# ============================================
# Base de Datos v1 — Origen (Google Cloud)
# ============================================
V1_HOST=136.116.247.253
V1_PORT=5432
V1_DATABASE=postgres
V1_SCHEMA=toniclife
V1_USER=
V1_PASSWORD=

# ============================================
# Base de Datos v2 — Destino (Local)
# ============================================
V2_HOST=localhost
V2_PORT=5432
V2_DATABASE=toniclife_db_v2
V2_SCHEMA=tonic
V2_USER=
V2_PASSWORD=

# ============================================
# Encriptación de contraseñas
# ============================================
KEY_GCM=

# ============================================
# Configuración de migración
# ============================================
BATCH_SIZE=5000
LOG_LEVEL=info
